name: Check

on: [pull_request,  push]

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - run: npm ci
      - name: Typecheck
        run: npm run typecheck
      - name: Lint
        run: npx eslint --max-warnings 0 .
      - name: Build
        run: npm run build
